<!DOCTYPE html>
<html>
  <head>
    <title>Spanish</title>
  </head>
  <center>
  <body>
    <h1>Spanish</h1>
    <h1>Translator App</h1>
    <img height=auto width="300px" src="http://www.colegioedaddeoro.com/fbe/letras_bienvenidos.png">
    <h2>You wanna T.App that?</h2>
     <form method = Post action ="/spanishmood">
      How are you feeling? <br>
        <input type="radio" name="mood" value="happy"> Happy </input><br/>
        <input type="radio" name="mood" value="Sad"> Sad </input><br/>
        <input type="radio" name="mood" value="angry"> Angry </input><br/>
        <input type="radio" name="mood" value="Neutral">Neutral  </input><br/>
        <input type="radio" name="mood" value="Quirky"> Quirky </input><br/>
        <input type="Submit" name="Submit!">
        
      
    </form>
  </body>
  </center>
</html>